<h1 class = "text-center mt-4">Listing all articles.</h1>
<div class="d-flex justify-content-center">

<%= link_to "Create New Article", new_article_path, class: "text-decoration-none ml-auto p-2" %>
</div>

<%= render 'article'%>